body {
  background-color: #99c1b9;
}

h1,
h5 {
  color: white;
}

.myBtn:hover {
  border-style: groove;
  background-color: #d88c9a;
}
#btnStart:hover {
  border-style: groove;
  background-color: #d88c9a;
}
.white:hover {
  border-style: groove;
  background-color: #aed9e0;
}

.sudoku #gameboard {
  width: 30vmin;
  height: 30vmin;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 0;
  width: fit-content;
  font-size: 30px;
}

.sudoku button {
  width: 9vmin;
  height: 9vmin;
  border: 3px solid #d88c9a;
  margin: 0;
  color: #d88c9a;
}

.blue {
  background-color: #aed9e0;
  transition: 0.25s linear;
}

.white {
  background-color: #eeeeee;
  transition: 0.25s linear;
}

#input {
  width: 30vmin;
  height: 25vmin;
  font-size: 10px;
  background-color: #f2d0a9;
  border: 4px solid #8e7dbe;
  color: #8e7dbe;
  font-size: 24px;
}

.input input {
  color: #8e7dbe;
}

#btnStart {
  width: 30vmin;
  color: #eff1f3;
  background-color: #8e7dbe;
  border: 4px dotted #eff1f3;
  font-size: 23px;
  transition: 0.25s linear;
}

#rules {
  width: 30vmin;
  height: 40vmin;
  font-size: 20px;
  background-color: #d88c9a;
  border: 4px solid #f1e3d3;
  border-style: double;
  color: #f1e3d3;
}

.message #msg {
  height: 25vmin;
  width: 30vmin;
  background-color: #eff1f3;
  font-size: 25px;
  color: #8e7dbe;
  border: 4px solid #8e7dbe;
  border-style: double;
}

#numbers {
  width: 30vmin;
  height: 30vmin;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  width: fit-content;
  font-size: 25px;
}

.numbers button {
  width: 10vmin;
  height: 10vmin;
  background: #f2d0a9;
  border: 4px solid #eeeeee;
  margin: 0;
  color: #8e7dbe;
}

.actions button {
  width: 30vmin;
  color: white;
  background-color: #8e7dbe;
  border: 4px solid #eeeeee;
  border-style: dotted;
  font-size: 23px;
  transition: 0.25s linear;
}

footer {
  text-align: center;
  padding: 3px;
  display: block;
  color: white;
}
