body {
  background-color: #99c1b9;
}

h1,
h5 {
  color: white;
}

.sudoku #gameboard {
  width: 35vmin;
  height: 35vmin;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 0;
  width: fit-content;
  font-size: 30px;
}

.sudoku button {
  width: 9vmin;
  height: 9vmin;
  border: 3px solid #d88c9a;
  margin: 0;
}

.blue {
  background-color: #f1e3d3;
}

.white {
  background-color: #eeeeee;
}

#btnNewGame {
  height: 10vmin;
  width: 30vmin;
  background-color: #8e7dbe;
  font-size: 25px;
  color: white;
  border: 3px solid white;
}

#numbers {
  width: 30vmin;
  height: 30vmin;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  width: fit-content;
  font-size: 25px;
}

.numbers button {
  width: 10vmin;
  height: 10vmin;
  background: #f2d0a9;
  border: 3px solid white;
  margin: 0;
  color: #8e7dbe;
}
